#!/bin/sh

sudo yum update -y
sudo yum install -y docker

# Start Docker
sudo service docker start
sudo usermod -a -G docker ec2-user

# Download Docker compose
sudo curl -L "https://github.com/docker/compose/releases/download/1.25.5/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose

sudo yum install -y git
cd /opt
git clone https://github.com/ryanrishi/covid-19-grafana.git
cd covid-19-grafana

GF_SERVER_DOMAIN=stage.ryanrishi.com \
GF_SERVER_SERVE_FROM_SUB_PATH=true \
GF_SERVER_ROOT_URL=https://stage.ryanrishi.com/covid-19-dashboard/ \
GF_SECURITY_ADMIN_USER=${grafana_admin_user} \
GF_SECURITY_ADMIN_PASSWORD=${grafana_admin_password} \
docker-compose up -d

# setting $GF_SECURITY_ADMIN_PASSWORD doesn't work in a Docker container
# use grafana-cli to reset admin password
# there's gotta be a better way to wait for Grafana to init - maybe `docker inspect -f {{State.Running}} grafana`?
# bandaid around "database locked" error
sleep 1

# workaround for "the input device is not a TTY"
# https://github.com/docker/compose/issues/5696
COMPOSE_INTERACTIVE_NO_CLI=1 docker-compose exec -T grafana grafana-cli admin reset-admin-password ${grafana_admin_password}

# Download latest COVID-19 data
cd /tmp
curl https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv -o us-counties.csv

curl https://raw.githubusercontent.com/fabio-miranda/csv-to-influxdb/master/csv-to-influxdb.py -o csv-to-influxdb.py
sudo yum install -y python-pip
pip install --user pytz influxdb

# Import CSV into InfluxDB
python csv-to-influxdb.py -i us-counties.csv --dbname covid-19 --create --timecolumn date --timeformat '%Y-%m-%d' --tagcolumns county,state,fips --fieldcolumns cases,deaths

# Make COVID-19 by State default dashboard
curl 'http://localhost:3000/api/user/stars/dashboard/1' \
  -u "${grafana_admin_user}:${grafana_admin_password}"
  -XPOST \
  -H 'x-grafana-org-id: 1' \

curl 'http://localhost:3000/api/org/preferences' \
  -u "${grafana_admin_user}:${grafana_admin_password}"
  -XPUT \
  -H 'x-grafana-org-id: 1' \
  -H 'content-type: application/json' \
  --data '{"homeDashboardId":1,"theme":"","timezone":""}' \
